<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ColdDewProject</display-name>
  <servlet>
    <servlet-name>ColdDew</servlet-name>
    <servlet-class>com.ldz.code.controller.ControllServlet</servlet-class>
    <init-param>
      <param-name>baseConfig</param-name>
      <param-value>com.ldz.project.config.MyConfig</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColdDew</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
</web-app>